.idea/*
ex4
*.wav
encode_output.txt
histMONO.txt
histRESIDUAL.txt
lossy_encoded_output.txt
lossless_encoded_output.txt
a.txt
*.prop

#Binary files
partB
ex2
ex4
open
losslessCodec_audio
lossy
img.bin
